html {
    background-image: url('../images/warty-final-ubuntu.png');
    background-position: 50% 50%;
    background-repeat:no-repeat;  
    background-attachment:fixed;
}

body {
    max-width:90.5em;
    margin:50px auto;
    background:#2C001E;    
    font-family: 'Ubuntu', sans-serif;
    color:#fff;
    opacity:0.8;
    border:2px solid #333;
    -moz-border-radius: 12px 12px 0 0; 
    -webkit-border-radius: 12px 12px 0 0; 
    border-radius: 12px 12px 0 0;       
    -moz-background-clip: padding;
    webkit-background-clip: padding-box;
    background-clip: padding-box;    
    -moz-box-shadow: 0px 0px 36px #000; 
    -webkit-box-shadow:  0px 0px 36px #000; 
    box-shadow: 0px 0px 36px #000;
}

a, a:link, a:visited, a:focus, a:active {
    color:#DD4814;
    text-decoration: none;
}

.pagenav {
    list-style:none !important;
}

.pagenav li.pagenav-prev {
    float:left
}
.pagenav li.pagenav-next {
    float:right
}

#header {
    background:#333;
    width:100%;
    -moz-border-radius: 12px 12px 0 0; 
    -webkit-border-radius: 12px 12px 0 0; 
    border-radius: 12px 12px 0 0;        
    -moz-background-clip: padding;
    webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #444444;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)); 
    background-image: -webkit-linear-gradient(top, #666666, #333333); 
    background-image:    -moz-linear-gradient(top, #666666, #333333); 
    background-image:     -ms-linear-gradient(top, #666666, #333333); 
    background-image:      -o-linear-gradient(top, #666666, #333333); 
    background-image:         linear-gradient(top, #666666, #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#333333');     
}

#header .gutter {
    border-bottom:1px solid #333;
    padding:0 0 6px 0;
    margin-bottom:5px;
}

#logo a:link,
#logo a:visited,
#logo a:hover,
.breadcrumbs a {
    background:none;
    width:auto;
    height:auto;
    text-indent:0;    
    font-family: 'Ubuntu', sans-serif;    
    color:#fff;
}

#logo a,
.breadcrumbs a {
    font-size:14px;
}

#style-switch {
    float: left;
    clear: none;
    background:#333333;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    padding:4px 2px 4px 6px;
    margin: 0 5px 0 0;       
}

#style-switch li {
    padding: 0;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;    
    height: 16px;
    width: 16px;
    float: left;
    margin-right:5px;
    -moz-box-shadow: 1px 1px 6px #888; 
    -webkit-box-shadow:  1px 1px 6px #888; 
    box-shadow: 1px 1px 6px #000;
}

#style-switch a {
    color:#333;
    display:block;
    line-height:1em;
    text-shadow: 0px 0px 1px #666;    
}

#style-switch .close {
    background: #DD4814;    
}

#style-switch .close a {
    padding: 1px 0 0 5px;    
}

#style-switch .minimize,
#style-switch .restore {
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#888888));
    background: -moz-linear-gradient(top, #333333, #888888);    
}

#style-switch .minimize a {
    padding: 0 0 0 5px;
    font-size:1em;
    line-height:.5em;
}

#style-switch .restore a {
    padding: 1px 0 0 5px;
    font-size:.8em
}

#style-switch li:hover {    
  background-color: #999999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666)); 
  background-image: -webkit-linear-gradient(top, #999999, #666666); 
  background-image:    -moz-linear-gradient(top, #999999, #666666); 
  background-image:     -ms-linear-gradient(top, #999999, #666666); 
  background-image:      -o-linear-gradient(top, #999999, #666666); 
  background-image:         linear-gradient(top, #999999, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#666666'); 
}
